openapi: 3.1.0
info:
  title: Crunchy Bridge API
  version: 0.1.1
  summary: An unofficial description of the Crunchy Bridge API.
  description: |
    Use the Crunchy Bridge API to manage accounts, teams, clusters, and
    related resources. This document is maintained from the public API
    documentation and is not published or endorsed by Crunchy Data.
  license:
    name: MIT
    identifier: MIT
  contact:
    name: crunchybridge-openapi maintainers
    url: https://github.com/joshuadavidthomas/crunchybridge-openapi
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://api.crunchybridge.com
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Access tokens
    description: Short-lived credentials issued from API keys.
  - name: Accounts
    description: The currently authenticated user account.
  - name: Certificates
    description: Team certificate chains.
  - name: Changelogs
    description: Published Crunchy Bridge changes.
  - name: Cluster backups
    description: Backup history and temporary pgBackRest credentials.
  - name: Cluster loggers
    description: External syslog forwarding destinations.
  - name: Cluster replicas
    description: Read replicas and replica detachment.
  - name: Cluster upgrades
    description: Refresh, resize, and major-version upgrade work.
  - name: Clusters
    description: Managed Postgres clusters and lifecycle actions.
  - name: Configuration parameters
    description: Supported and cluster-specific Postgres and PgBouncer settings.
  - name: Events
    description: Audit events and event polling.
  - name: Firewall rules
    description: Network access rules, including deprecated cluster routes.
  - name: Metric views
    description: Chart-ready cluster metric series.
  - name: Network peerings
    description: Private routing between Crunchy Bridge and customer networks.
  - name: Networks
    description: Provider networks shared by team clusters.
  - name: Postgres versions
    description: Postgres versions available for clusters.
  - name: Providers
    description: Cloud providers, plans, regions, and pricing.
  - name: Private links
    description: Provider private-link services and endpoint connections.
  - name: Postgres roles
    description: Cluster database roles and credentials.
  - name: Queries
    description: Synchronous and asynchronous SQL execution.
  - name: Team members
    description: Team memberships and invitations.
  - name: Teams
    description: Teams, access policy, billing, and support settings.
externalDocs:
  description: Crunchy Bridge API documentation
  url: https://docs.crunchybridge.com/api
paths:
  /access-tokens:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
    post:
      operationId: createAccessToken
      tags:
        - Access tokens
      summary: Create an access token
      description: Exchanges an API key secret for an access token.
      security: []
      x-docs-url: https://docs.crunchybridge.com/api/access-token#create-access-token
      x-idempotent: false
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenCreateRequest'
      responses:
        '200':
          description: The new access token. The bearer token is returned only once.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /access-tokens/{access_token_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/AccessTokenId'
    delete:
      operationId: destroyAccessToken
      tags:
        - Access tokens
      summary: Delete an access token
      description: Revokes an access token and returns its resource.
      x-docs-url: https://docs.crunchybridge.com/api/access-token#destroy-access-token
      x-destructive: true
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: The revoked access token.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /account:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
    get:
      operationId: getAccount
      tags:
        - Accounts
      summary: Get the authenticated account
      description: Returns the account associated with the supplied credential.
      x-docs-url: https://docs.crunchybridge.com/api/account#get-account
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: The authenticated account.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: destroyAccount
      tags:
        - Accounts
      summary: Delete the authenticated account
      description: |
        Deletes the account. The account must not be the sole administrator of a
        team that owns provisioned clusters. Teams for which this account is the
        only administrator are also deleted.
      x-docs-url: https://docs.crunchybridge.com/api/account#destroy-account
      x-destructive: true
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: The deleted account.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /changelogs:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
    get:
      operationId: listChangelogs
      tags:
        - Changelogs
      summary: List changelog entries
      description: Returns published Crunchy Bridge changes. Live requests succeed without authentication.
      security: []
      x-docs-url: https://docs.crunchybridge.com/api/changelog#list-changelog-entries
      x-idempotent: true
      parameters:
        - name: component
          in: query
          required: false
          description: Product area to include.
          schema:
            $ref: '#/components/schemas/ChangelogComponent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit200'
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          description: Field used to order changelog entries.
          schema:
            type: string
            enum:
              - id
            default: id
      responses:
        '200':
          description: A page of changelog entries.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /changelogs/{changelog_id_or_name}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ChangelogIdOrName'
    get:
      operationId: getChangelog
      tags:
        - Changelogs
      summary: Get a changelog entry
      description: Returns a changelog entry by EID or unique name. Live requests succeed without authentication.
      security: []
      x-docs-url: https://docs.crunchybridge.com/api/changelog#get-changelog-entry
      x-idempotent: true
      responses:
        '200':
          description: The changelog entry.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changelog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
    get:
      operationId: listClusters
      tags:
        - Clusters
      summary: List clusters
      description: Returns clusters visible to the caller, ordered by name by default.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#list-clusters
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          required: false
          description: Maximum number of clusters to return.
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 100
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
            default: name
        - name: team_id
          in: query
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/EID'
              - type: 'null'
      responses:
        '200':
          $ref: '#/components/responses/ClusterList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createCluster
      tags:
        - Clusters
      summary: Create a cluster
      description: |
        Starts provisioning a billed cluster. `firewall_mode`, `network_id`, and
        `network_cidr4` are mutually exclusive. If neither network field is supplied,
        Bridge creates a network and applies `firewall_mode` when present. `provider_id`
        cannot accompany `network_id`. A GCP
        network requires `region_id`; other supplied network and region values must
        agree. `network_cidr4` must fall within RFC 1918 private space with a prefix
        no longer than 20 bits. Omitting `postgres_version_id` selects the current
        default. The required request fields make a body necessary even though the
        generated first-party description omits body-level requiredness.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#create-cluster
      x-idempotent: false
      x-cost-bearing: true
      x-long-running: true
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/ClusterCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: getCluster
      tags:
        - Clusters
      summary: Get a cluster
      description: Returns one cluster and its current resource fields.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#get-cluster
      x-idempotent: true
      responses:
        '200':
          $ref: '#/components/responses/Cluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateCluster
      tags:
        - Clusters
      summary: Update a cluster
      description: Every update field is optional. Whether the endpoint accepts an omitted body remains unconfirmed.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#update-cluster
      x-idempotent: false
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ClusterUpdated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: destroyCluster
      tags:
        - Clusters
      summary: Delete a cluster
      description: Permanently deletes an unprotected cluster and its data.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#destroy-cluster
      x-idempotent: true
      x-destructive: true
      responses:
        '200':
          $ref: '#/components/responses/Cluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/status:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: getClusterStatus
      tags:
        - Clusters
      summary: Get cluster status
      description: Returns the cluster state, active work, disk usage, and oldest restorable backup point.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#get-cluster-status
      x-idempotent: true
      responses:
        '200':
          $ref: '#/components/responses/ClusterStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/backups:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: listClusterBackups
      tags:
        - Cluster backups
      summary: List cluster backups
      description: Returns documented backups. Pagination inputs are accepted, but the published response has no cursor metadata.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-backup#list-backups
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit200'
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          schema:
            type: string
            enum:
              - name
            default: name
      responses:
        '200':
          description: Cluster backups.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterBackupList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/backup-tokens:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      operationId: createClusterBackupToken
      tags:
        - Cluster backups
      summary: Create a cluster backup token
      description: Creates fresh provider credentials for direct pgBackRest access. They remain valid for 36 hours, and Crunchy Bridge does not persist the token resource or its ID. Treat the full response as secret.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-backup#create-backup-token
      x-idempotent: false
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Temporary backup credentials.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterBackupToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/configuration-parameters:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: listClusterConfigurationParameters
      tags:
        - Configuration parameters
      summary: List cluster configuration parameters
      description: Returns configured values; null values mean the component default applies.
      x-docs-url: https://docs.crunchybridge.com/api/configuration-parameter#list-cluster-configuration-parameters
      x-idempotent: true
      responses:
        '200':
          description: Cluster configuration parameter values.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterConfigurationParameterList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateClusterConfigurationParameters
      tags:
        - Configuration parameters
      summary: Update cluster configuration parameters
      description: Applies a batch of values or resets. When allowed, parameters marked `requires_restart` may restart Postgres.
      x-docs-url: https://docs.crunchybridge.com/api/configuration-parameter#update-cluster-configuration-parameters
      x-idempotent: true
      x-disruptive: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameterUpdateRequest'
      responses:
        '200':
          description: Cluster configuration parameter values.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterConfigurationParameterList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/configuration-parameters/{configuration_parameter_name}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/ConfigurationParameterName'
    get:
      operationId: getClusterConfigurationParameter
      tags:
        - Configuration parameters
      summary: Get a cluster configuration parameter
      description: Returns one fully qualified parameter such as `postgres:log_statement`.
      x-docs-url: https://docs.crunchybridge.com/api/configuration-parameter#get-a-cluster-configuration-parameter
      x-idempotent: true
      responses:
        '200':
          description: The cluster configuration parameter.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterConfigurationParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/forks:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      operationId: forkCluster
      tags:
        - Clusters
      summary: Fork a cluster
      description: |
        Starts provisioning a separately billed cluster from a backup point. A
        supplied provider requires plan and region; omitted placement, plan, and
        storage fields inherit from the source. A supplied region must match the
        network. Recovery targets must fall within the status endpoint's oldest
        backup bounds and the current database position. The source must have an
        initial backup. Network selection follows the create operation's exclusions.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#fork-cluster
      x-idempotent: false
      x-cost-bearing: true
      x-long-running: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterForkRequest'
      responses:
        '201':
          $ref: '#/components/responses/ClusterCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/detach:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: detachClusterReplica
      tags:
        - Cluster replicas
      summary: Detach a cluster replica
      description: Detaches asynchronously into an independent writable cluster. Repeated calls no-op while detachment is pending; calling it after the cluster is no longer a replica returns an error.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-replica#detach-replica
      x-idempotent: true
      x-disruptive: true
      x-long-running: true
      responses:
        '200':
          description: The detaching cluster.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/disable-ha:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: disableClusterHighAvailability
      tags:
        - Clusters
      summary: Disable high availability
      description: Starts removal of the cluster's high-availability standby.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#disable-high-availability
      x-idempotent: true
      x-disruptive: true
      x-long-running: true
      responses:
        '200':
          $ref: '#/components/responses/ClusterOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/enable-ha:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: enableClusterHighAvailability
      tags:
        - Clusters
      summary: Enable high availability
      description: Starts adding a standby and increases the cluster's billed price.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#enable-high-availability
      x-idempotent: true
      x-disruptive: true
      x-long-running: true
      x-cost-bearing: true
      responses:
        '200':
          $ref: '#/components/responses/ClusterOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/ping:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: pingCluster
      tags:
        - Clusters
      summary: Ping a cluster
      description: Runs a simple database query and returns its result message.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#ping-cluster
      x-idempotent: true
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/restart:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: restartCluster
      tags:
        - Clusters
      summary: Restart a cluster service
      description: Queues one asynchronous restart. Repeated calls coalesce into one pending restart until it occurs. Omitting `service` restarts the server.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#restart-cluster
      x-idempotent: true
      x-disruptive: true
      x-long-running: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRestartRequest'
      responses:
        '200':
          $ref: '#/components/responses/Cluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/resume:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: resumeCluster
      tags:
        - Clusters
      summary: Resume a cluster
      description: Resumes a suspended cluster and its normal billing.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#resume-cluster
      x-idempotent: true
      x-disruptive: true
      x-cost-bearing: true
      responses:
        '200':
          $ref: '#/components/responses/Cluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/start-backup:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: startClusterBackup
      tags:
        - Clusters
      summary: Start a cluster backup
      description: Requests an asynchronous backup; the service may no-op when a backup is active or recent.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#start-cluster-backup
      x-idempotent: true
      x-long-running: true
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/suspend:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: suspendCluster
      tags:
        - Clusters
      summary: Suspend a cluster
      description: Suspends an eligible AWS or Azure primary cluster; storage billing continues.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#suspend-cluster
      x-idempotent: true
      x-disruptive: true
      responses:
        '200':
          $ref: '#/components/responses/Cluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/tailscale-connect:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: connectClusterToTailscale
      tags:
        - Clusters
      summary: Connect a cluster to Tailscale
      description: |
        Connects the cluster with either a short-lived auth key or a stored OAuth
        client. The two fields are mutually exclusive. Body presence and empty-body
        behavior remain unconfirmed because the published schema requires neither.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#connect-cluster-to-tailscale
      x-idempotent: true
      x-disruptive: true
      x-sensitive: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TailscaleConnectRequest'
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/actions/tailscale-disconnect:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      operationId: disconnectClusterFromTailscale
      tags:
        - Clusters
      summary: Disconnect a cluster from Tailscale
      description: Removes the cluster's Tailscale connection.
      x-docs-url: https://docs.crunchybridge.com/api/cluster#disconnect-cluster-from-tailscale
      x-idempotent: true
      x-disruptive: true
      responses:
        '200':
          $ref: '#/components/responses/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/loggers:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: listClusterLoggers
      tags:
        - Cluster loggers
      summary: List cluster loggers
      description: Returns log forwarding destinations. Templates may contain ingestion credentials and the documented envelope omits cursor metadata.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-logger#list-loggers
      x-idempotent: true
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit200'
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          schema:
            type: string
            enum:
              - host_and_port
              - id
            default: id
      responses:
        '200':
          description: Cluster loggers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterLoggerList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createClusterLogger
      tags:
        - Cluster loggers
      summary: Create a cluster logger
      description: Adds a syslog forwarding destination. The required request fields make a body necessary despite omitted body-level requiredness in Apiary.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-logger#create-logger
      x-idempotent: false
      x-sensitive: true
      x-disruptive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterLoggerCreateRequest'
      responses:
        '201':
          description: The new logger.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterLogger'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/loggers/{logger_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/LoggerId'
    get:
      operationId: getClusterLogger
      tags:
        - Cluster loggers
      summary: Get a cluster logger
      description: Returns one log forwarding destination, including its potentially credential-bearing template.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-logger#get-logger
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: The cluster logger.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterLogger'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateClusterLogger
      tags:
        - Cluster loggers
      summary: Replace a cluster logger
      description: Replaces the destination settings; the endpoint documents `200`, not an upsert `201`.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-logger#update-logger
      x-idempotent: true
      x-sensitive: true
      x-disruptive: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterLoggerUpdateRequest'
      responses:
        '200':
          description: The cluster logger.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterLogger'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: destroyClusterLogger
      tags:
        - Cluster loggers
      summary: Delete a cluster logger
      description: Removes a forwarding destination and may stop external log visibility.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-logger#destroy-logger
      x-idempotent: true
      x-sensitive: true
      x-disruptive: true
      responses:
        '200':
          description: The deleted cluster logger.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterLogger'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/replicas:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      operationId: createClusterReplica
      tags:
        - Cluster replicas
      summary: Create a cluster replica
      description: |
        Starts provisioning a separately billed replica. `network_cidr4` and
        `network_id` exclude each other, and `network_id` excludes `provider_id`.
        A provider requires plan and region. A non-GCP network excludes `region_id`,
        while a GCP network requires it. `network_cidr4` must use RFC 1918 private
        space with a prefix no longer than 20 bits.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-replica#create-cluster-replica
      x-idempotent: false
      x-cost-bearing: true
      x-long-running: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterReplicaCreateRequest'
      responses:
        '201':
          description: The new replica in its initial state.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/roles:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: listPostgresRoles
      tags:
        - Postgres roles
      summary: List Postgres roles
      description: Returns roles with credentials redacted. Pagination inputs are accepted, but the published response has no cursor metadata.
      x-docs-url: https://docs.crunchybridge.com/api/postgres-role#list-roles
      x-idempotent: true
      parameters:
        - name: account_id
          in: query
          required: false
          description: Repeat to include roles associated with any listed account.
          style: form
          explode: true
          schema:
            type: array
            items:
              oneOf:
                - $ref: '#/components/schemas/EID'
                - type: 'null'
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          required: false
          schema:
            type:
              - integer
              - 'null'
            format: int64
            minimum: 1
            maximum: 200
            default: 100
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
            default: id
      responses:
        '200':
          description: Postgres roles with passwords and URIs redacted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresRoleList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createPostgresRole
      tags:
        - Postgres roles
      summary: Create a Postgres role
      description: Creates a role for the calling account. The endpoint has no documented request body and may return plaintext credentials.
      x-docs-url: https://docs.crunchybridge.com/api/postgres-role#create-role
      x-idempotent: false
      x-sensitive: true
      x-disruptive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: The new role, potentially including plaintext credentials.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresRole'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/roles/{role_name}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/RoleName'
    get:
      operationId: getPostgresRole
      tags:
        - Postgres roles
      summary: Get a Postgres role
      description: Returns a role and may reveal credentials; team admin access is required for the `postgres` role.
      x-docs-url: https://docs.crunchybridge.com/api/postgres-role#get-role
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: The role, potentially including plaintext credentials.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresRole'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: upsertPostgresRole
      tags:
        - Postgres roles
      summary: Upsert a Postgres role
      description: |
        Changes flavor or credentials, or creates the named role. The upsert accepts
        `application`, `postgres`, `user`, or an account role named `u_<account_id>`.
        Only `201` is documented; request-body presence remains unconfirmed.
      x-docs-url: https://docs.crunchybridge.com/api/postgres-role#update-role
      x-idempotent: true
      x-sensitive: true
      x-disruptive: true
      parameters:
        - name: role_name
          in: path
          required: true
          description: Built-in or account role to create or update.
          schema:
            oneOf:
              - type: string
                enum:
                  - application
                  - postgres
                  - user
              - type: string
                pattern: ^u_[a-z2-7]{25}[aeimquy4]$
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostgresRoleUpdateRequest'
      responses:
        '201':
          description: The created or updated role, potentially including new credentials.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresRole'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: destroyPostgresRole
      tags:
        - Postgres roles
      summary: Delete a Postgres role
      description: Deletes the role and returns it with password and URI redacted. Active clients may lose access.
      x-docs-url: https://docs.crunchybridge.com/api/postgres-role#delete-role
      x-idempotent: true
      x-disruptive: true
      x-destructive: true
      responses:
        '200':
          description: The deleted role with credentials redacted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedactedPostgresRole'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/upgrade:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: getClusterUpgrade
      tags:
        - Cluster upgrades
      summary: Get a cluster upgrade
      description: Returns planned and active upgrade work. An empty `operations` array means no work remains.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-upgrade#get-upgrade-status
      x-idempotent: true
      responses:
        '200':
          description: The cluster upgrade state.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterUpgrade'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createClusterUpgrade
      tags:
        - Cluster upgrades
      summary: Start a cluster upgrade
      description: Starts a refresh, resize, or major-version upgrade. An empty request starts minor-version maintenance; request-body presence remains unconfirmed.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-upgrade#upgrade-cluster
      x-idempotent: false
      x-disruptive: true
      x-long-running: true
      x-cost-bearing: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpgradeCreateRequest'
      responses:
        '201':
          description: The new upgrade state.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterUpgrade'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateClusterUpgrade
      tags:
        - Cluster upgrades
      summary: Update a cluster upgrade
      description: Reschedules or changes upgrade targets before failover. Plan or storage changes may rebuild replacement infrastructure.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-upgrade#update-upgrade-cluster
      x-idempotent: true
      x-disruptive: true
      x-long-running: true
      x-cost-bearing: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpgradeUpdateRequest'
      responses:
        '201':
          description: The updated upgrade state. This update operation documents the unusual `201` status.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterUpgrade'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: cancelClusterUpgrade
      tags:
        - Cluster upgrades
      summary: Cancel a cluster upgrade
      description: Cancels upgrade work that has not passed its cancellation point. Current docs return `200`; an old CLI fixture used `204`.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-upgrade#cancel-upgrade
      x-idempotent: true
      x-disruptive: true
      x-long-running: true
      responses:
        '200':
          description: The cluster upgrade state.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterUpgrade'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/firewall:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: listClusterFirewallRules
      deprecated: true
      tags:
        - Firewall rules
      summary: List firewall rules through a cluster
      description: |
        Deprecated. Obtain the cluster's `network_id`, then use
        `GET /networks/{network_id}/firewall-rules`.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-firewall-rule#list-firewall-rules
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit200'
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          description: Field used to order rules.
          schema:
            type: string
            enum:
              - id
              - rule
            default: id
      responses:
        '200':
          description: Firewall rules for the cluster's network.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createClusterFirewallRule
      deprecated: true
      tags:
        - Firewall rules
      summary: Create a firewall rule through a cluster
      description: |
        Deprecated. Obtain the cluster's `network_id`, then use
        `POST /networks/{network_id}/firewall-rules`. The first-party machine
        description omits request-body requiredness, but `rule` is required.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-firewall-rule#create-firewall-rule
      x-idempotent: false
      x-disruptive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterFirewallRuleCreateRequest'
      responses:
        '201':
          description: The new firewall rule.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/firewall/{rule_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/RuleId'
    put:
      operationId: updateClusterFirewallRule
      deprecated: true
      tags:
        - Firewall rules
      summary: Update a firewall rule through a cluster
      description: |
        Deprecated. Obtain the cluster's `network_id`, then use
        `PATCH /networks/{network_id}/firewall-rules/{rule_id}`. This legacy PUT
        requires `rule`; the first-party machine description omits body requiredness.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-firewall-rule#update-firewall-rule
      x-idempotent: true
      x-disruptive: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterFirewallRuleUpdateRequest'
      responses:
        '200':
          description: The updated firewall rule.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: destroyClusterFirewallRule
      deprecated: true
      tags:
        - Firewall rules
      summary: Delete a firewall rule through a cluster
      description: |
        Deprecated. Obtain the cluster's `network_id`, then use
        `DELETE /networks/{network_id}/firewall-rules/{rule_id}`.
      x-docs-url: https://docs.crunchybridge.com/api/cluster-firewall-rule#destroy-firewall-rule
      x-disruptive: true
      x-idempotent: true
      responses:
        '200':
          description: The deleted firewall rule.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/private-link:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: getClusterPrivateLink
      tags:
        - Private links
      summary: Get a cluster private link
      description: Returns the cluster's singleton private link. Returns 404 when absent.
      x-docs-url: https://docs.crunchybridge.com/api/private-link#get-private-link
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: The cluster private link.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterPrivateLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createClusterPrivateLink
      tags:
        - Private links
      summary: Create a cluster private link
      description: Starts creation of a provider private-link endpoint service.
      x-docs-url: https://docs.crunchybridge.com/api/private-link#create-private-link
      x-idempotent: false
      x-disruptive: true
      x-long-running: true
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: The new private link, normally in `creating` state.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterPrivateLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: destroyClusterPrivateLink
      tags:
        - Private links
      summary: Delete a cluster private link
      description: Starts removal of the cluster's private link.
      x-docs-url: https://docs.crunchybridge.com/api/private-link#destroy-private-link
      x-disruptive: true
      x-idempotent: true
      x-long-running: true
      x-sensitive: true
      responses:
        '200':
          description: The private link being deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterPrivateLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/private-link-connections:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      operationId: listClusterPrivateLinkConnections
      tags:
        - Private links
      summary: List private-link connections
      description: Returns provider endpoints connected or requesting connection to the cluster.
      x-docs-url: https://docs.crunchybridge.com/api/private-link-connection#list-private-link-connections
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: Private-link connections.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterPrivateLinkConnectionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/private-link-connections/{connection_id}/actions/approve:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/ConnectionId'
    post:
      operationId: approveClusterPrivateLinkConnection
      tags:
        - Private links
      summary: Approve a private-link connection
      description: Approves a pending provider endpoint connection.
      x-docs-url: https://docs.crunchybridge.com/api/private-link-connection#approve-a-private-link-connection
      x-idempotent: false
      x-disruptive: true
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: The approved connection.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterPrivateLinkConnection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /clusters/{cluster_id}/private-link-connections/{connection_id}/actions/reject:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/ConnectionId'
    post:
      operationId: rejectClusterPrivateLinkConnection
      tags:
        - Private links
      summary: Reject a private-link connection
      description: Rejects a pending provider endpoint connection.
      x-docs-url: https://docs.crunchybridge.com/api/private-link-connection#reject-a-private-link-connection
      x-idempotent: false
      x-disruptive: true
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: The rejected connection.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterPrivateLinkConnection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /events:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
    get:
      operationId: listEvents
      tags:
        - Events
      summary: List events
      description: |
        Lists retained audit events. Specify either `cluster_id` or `team_id`, not
        both. With neither filter, the API returns events caused by the current
        account.

        To poll, first request `order=desc&limit=1`. Use the newest event ID as the
        cursor, then request ascending pages with a stream delay. Drain pages while
        `has_more` is true; otherwise wait before polling again. Events are retained
        for 90 days.
      x-docs-url: https://docs.crunchybridge.com/api/event#list-events
      x-idempotent: true
      x-sensitive: true
      parameters:
        - name: cluster_id
          in: query
          required: false
          description: Filter to one cluster. Do not combine with `team_id`.
          schema:
            $ref: '#/components/schemas/EID'
        - name: team_id
          in: query
          required: false
          description: Filter to one team. Do not combine with `cluster_id`.
          schema:
            $ref: '#/components/schemas/EID'
        - $ref: '#/components/parameters/Cursor'
        - name: delay
          in: query
          required: false
          description: |
            Delays the event stream to avoid skipping transactions that commit out
            of ID order. The field table calls this an integer, while polling docs
            use duration strings such as `10s` and `30s`. Requests last at most 30
            seconds.
          schema:
            oneOf:
              - type: integer
                minimum: 0
                maximum: 30
              - type: string
                pattern: ^[0-9]+s$
            examples:
              - 10s
        - name: kind
          in: query
          required: false
          description: Event kinds to include. Repeat the parameter for each kind.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          example:
            - cluster.created
            - cluster.suspended
        - $ref: '#/components/parameters/Limit200'
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          description: Field used to order events.
          schema:
            type: string
            enum:
              - id
            default: id
      responses:
        '200':
          description: A page of events.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /events/{event_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/EventId'
    get:
      operationId: getEvent
      tags:
        - Events
      summary: Get an event
      description: Returns one retained audit event.
      x-docs-url: https://docs.crunchybridge.com/api/event#get-event
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: The event.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /configuration-parameters:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
    get:
      operationId: listSupportedConfigurationParameters
      tags:
        - Configuration parameters
      summary: List supported configuration parameters
      description: Returns the parameter catalog, including version bounds, valid values, and restart requirements.
      x-docs-url: https://docs.crunchybridge.com/api/configuration-parameter#list-supported-cluster-configuration-parameters
      x-idempotent: true
      responses:
        '200':
          description: Supported configuration parameters.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedConfigurationParameterList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /metric-views/{name}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - name: name
        in: path
        required: true
        description: Metric view name.
        schema:
          type: string
          enum:
            - cpu
            - disk-usage
            - iops
            - load-average
            - memory
            - network-usage
            - pgbouncer-client-connections
            - pgbouncer-network-usage
            - pgbouncer-performance
            - pgbouncer-server-connections
            - postgres-connections
            - replication-lag
    get:
      operationId: getMetricView
      tags:
        - Metric views
      summary: Get a metric view
      description: |
        Returns chart series for either a custom `begin`/`end` window or a named
        `period`. A custom window must last at least one minute, with `end` later
        than `begin`.
      x-docs-url: https://docs.crunchybridge.com/api/metric-view#get-metric-view
      x-idempotent: true
      parameters:
        - name: cluster_id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/EID'
        - name: begin
          in: query
          required: false
          description: Custom window start. Send with `end`; do not send with `period`.
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: false
          description: Custom window end, at least one minute after `begin`. Send with `begin`; do not send with `period`.
          schema:
            type: string
            format: date-time
        - name: period
          in: query
          required: false
          description: Named window. Do not send with `begin` or `end`.
          schema:
            type: string
            enum:
              - 12h
              - 15m
              - 1d
              - 1h
              - 1w
              - 24h
              - 30d
              - 3h
              - 60m
              - 6h
              - 7d
        - name: resolution_multiplier
          in: query
          required: false
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 4
              - 8
            default: 1
      responses:
        '200':
          description: The metric view.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricView'
              example:
                category:
                  id: general
                  name: General
                  description: General cluster metrics
                name: cpu
                series:
                  - name: cpu
                    title: CPU usage
                    points:
                      - period_begin: '2026-01-01T00:00:00Z'
                        period_end: '2026-01-01T00:01:00Z'
                        time: '2026-01-01T00:00:00Z'
                        value: 0.25
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /networks:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
    get:
      operationId: listNetworks
      tags:
        - Networks
      summary: List networks
      description: Returns networks visible to the caller.
      x-docs-url: https://docs.crunchybridge.com/api/network#list-networks
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit200'
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          description: Field used to order networks.
          schema:
            type: string
            enum:
              - id
            default: id
        - name: team_id
          in: query
          required: false
          description: Filter networks to one team.
          schema:
            oneOf:
              - $ref: '#/components/schemas/EID'
              - type: 'null'
      responses:
        '200':
          description: A page of networks.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /networks/{network_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/NetworkId'
    get:
      operationId: getNetwork
      tags:
        - Networks
      summary: Get a network
      description: Returns a network visible to the caller.
      x-docs-url: https://docs.crunchybridge.com/api/network#get-network
      x-idempotent: true
      responses:
        '200':
          description: The network.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateNetwork
      tags:
        - Networks
      summary: Update a network
      description: Updates the human-readable network name.
      x-docs-url: https://docs.crunchybridge.com/api/network#update-network
      x-idempotent: false
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkUpdateRequest'
      responses:
        '200':
          description: The updated network.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /networks/{network_id}/firewall-rules:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/NetworkId'
    get:
      operationId: listNetworkFirewallRules
      tags:
        - Firewall rules
      summary: List network firewall rules
      description: |
        Returns rules for a network. The endpoint accepts cursor pagination but
        its documented response has no cursor metadata.
      x-docs-url: https://docs.crunchybridge.com/api/network-firewall-rule#list-firewall-rules
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit200'
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          description: |
            Field used to order rules. The parameter table allows `id` and
            `rule`; surrounding prose instead says `cidr`.
          schema:
            type: string
            enum:
              - id
              - rule
            default: id
      responses:
        '200':
          description: Network firewall rules.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createNetworkFirewallRule
      tags:
        - Firewall rules
      summary: Create a network firewall rule
      description: |
        Adds an ingress or egress CIDR rule to the network. The first-party
        machine description omits request-body requiredness, but the documented
        required `rule` field makes a body necessary.
      x-docs-url: https://docs.crunchybridge.com/api/network-firewall-rule#create-firewall-rule
      x-idempotent: false
      x-disruptive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRuleCreateRequest'
      responses:
        '201':
          description: The new firewall rule.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /networks/{network_id}/firewall-rules/{rule_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/NetworkId'
      - $ref: '#/components/parameters/RuleId'
    get:
      operationId: getNetworkFirewallRule
      tags:
        - Firewall rules
      summary: Get a network firewall rule
      description: Returns one firewall rule.
      x-docs-url: https://docs.crunchybridge.com/api/network-firewall-rule#get-firewall-rule
      x-idempotent: true
      responses:
        '200':
          description: The firewall rule.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateNetworkFirewallRule
      tags:
        - Firewall rules
      summary: Update a network firewall rule
      description: Updates the CIDR or description. The rule direction is immutable.
      x-docs-url: https://docs.crunchybridge.com/api/network-firewall-rule#update-firewall-rule
      x-idempotent: false
      x-disruptive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRuleUpdateRequest'
      responses:
        '200':
          description: The updated firewall rule.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: destroyNetworkFirewallRule
      tags:
        - Firewall rules
      summary: Delete a network firewall rule
      description: Deletes a rule and may change application or public network access.
      x-docs-url: https://docs.crunchybridge.com/api/network-firewall-rule#destroy-firewall-rule
      x-disruptive: true
      x-idempotent: true
      responses:
        '200':
          description: The deleted firewall rule.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /networks/{network_id}/peerings:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/NetworkId'
    get:
      operationId: listNetworkPeerings
      tags:
        - Network peerings
      summary: List network peerings
      description: |
        Returns peerings for a network. The endpoint accepts cursor pagination but
        its documented response has no cursor metadata.
      x-docs-url: https://docs.crunchybridge.com/api/network-peering#list-peerings
      x-idempotent: true
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          required: false
          description: Maximum number of peerings to return.
          schema:
            type:
              - integer
              - 'null'
            minimum: 1
            maximum: 200
            default: 100
        - $ref: '#/components/parameters/Order'
        - name: order_field
          in: query
          required: false
          description: Field used to order peerings.
          schema:
            type: string
            enum:
              - id
            default: id
      responses:
        '200':
          description: Network peerings.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createNetworkPeering
      tags:
        - Network peerings
      summary: Create a network peering
      description: |
        Starts peering the Crunchy Bridge network with a customer network. The
        first-party machine description omits request-body requiredness, but the
        documented required `peer_identifier` makes a body necessary.
      x-docs-url: https://docs.crunchybridge.com/api/network-peering#create-peering
      x-idempotent: false
      x-disruptive: true
      x-long-running: true
      x-sensitive: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeeringCreateRequest'
      responses:
        '201':
          description: The new peering, normally in `creating` state.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replay:
              $ref: '#/components/headers/IdempotencyReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /networks/{network_id}/peerings/{peering_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/NetworkId'
      - $ref: '#/components/parameters/PeeringId'
    get:
      operationId: getNetworkPeering
      tags:
        - Network peerings
      summary: Get a network peering
      description: Returns one network peering and its current status.
      x-docs-url: https://docs.crunchybridge.com/api/network-peering#get-peering
      x-idempotent: true
      x-sensitive: true
      responses:
        '200':
          description: The network peering.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: destroyNetworkPeering
      tags:
        - Network peerings
      summary: Delete a network peering
      description: Starts removal of the network peering.
      x-docs-url: https://docs.crunchybridge.com/api/network-peering#destroy-peering
      x-disruptive: true
      x-idempotent: true
      x-long-running: true
      x-sensitive: true
      responses:
        '200':
          description: The peering being deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /postgres-versions:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
    get:
      operationId: listPostgresVersions
      tags:
        - Postgres versions
      summary: List Postgres versions
      description: Returns Postgres major versions available to the caller. The default catalog is available without authentication.
      security:
        - bearerAuth: []
        - {}
      x-docs-url: https://docs.crunchybridge.com/api/postgres-version#list-postgres-versions
      x-idempotent: true
      parameters:
        - name: team_id
          in: query
          required: false
          description: Team whose version availability should be used.
          schema:
            $ref: '#/components/schemas/EID'
      responses:
        '200':
          description: Available Postgres versions.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresVersionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Error'
  /postgres-versions/{postgres_version_id}:
    parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/PostgresVersionId'
    get:
      operationId: getPostgresVersion
      tags:
        - Postgres versions
      summary: Get a Postgres version
      description: Returns a Postgres version by EID or major version number. Default versions are available without authentication.
      security:
        - bearerAuth: []
        - {}
      x-docs-url: https://docs.crunchybridge.com/api/postgres-version#get-postgres-version
      x-idempotent: true
      parameters:
        - name: team_id
          in: query
          required: false
          description: Team whose version availability should be used.
          schema:
            $ref: '#/components/schemas/EID'
      responses:
        '200':
          description: The Postgres version.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresVersion'
        '401':
[...]
